{% extends "base.html" %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label(class="form-input-label") }}
            {{ form.name(class="form-input") }}
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                <p>{{error}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            {{ form.price.label(class="form-input-label") }}
            {{ form.price(class="form-input") }}
            {% if form.price.errors %}
                {% for error in form.price.errors %}
                <p>{{error}}</p>
                {% endfor %}
            {% endif %}

        </div>
        <div>
            {{ form.unit.label(class="form-input-label") }}
            {{ form.unit(class="form-input") }}
            {% if form.unit.errors %}
                {% for error in form.unit.errors %}
                <p>{{error}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            {{ form.category.label(class="form-input-label") }}
            {{ form.category(class="form-input") }}
        </div>
        <div>
            {{ form.submit(class="form-button") }}
        </div>
    </form>
{% endblock content %}