{% extends "base.html" %}
{% block content %}
    <h2>Products List</h2>
    {% for product in products %}
        <div style="margin-top: 30px;">
            <p>{{product.name}}</p>
            <p>{{product.price}}/{{product.unit}}</p>
        </div>
    {% endfor %}
{% endblock content %}